Source: ros-dashing-rmw-fastrtps-dynamic-cpp
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake-ros, ros-dashing-ament-lint-auto, ros-dashing-ament-lint-common, ros-dashing-fastcdr, ros-dashing-fastrtps, ros-dashing-fastrtps-cmake-module, ros-dashing-rcutils, ros-dashing-rmw, ros-dashing-rmw-fastrtps-shared-cpp, ros-dashing-rosidl-generator-c, ros-dashing-rosidl-typesupport-fastrtps-c, ros-dashing-rosidl-typesupport-fastrtps-cpp, ros-dashing-rosidl-typesupport-introspection-c, ros-dashing-rosidl-typesupport-introspection-cpp, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-rmw-fastrtps-dynamic-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-ament-cmake, ros-dashing-fastcdr, ros-dashing-fastrtps, ros-dashing-fastrtps-cmake-module, ros-dashing-rcutils, ros-dashing-rmw, ros-dashing-rmw-fastrtps-shared-cpp, ros-dashing-rosidl-generator-c, ros-dashing-rosidl-typesupport-fastrtps-c, ros-dashing-rosidl-typesupport-fastrtps-cpp, ros-dashing-rosidl-typesupport-introspection-c, ros-dashing-rosidl-typesupport-introspection-cpp, ros-dashing-ros-workspace
Description: Implement the ROS middleware interface using eProsima FastRTPS static code generation in C++.
